

/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 248, 66);
}

/* Styles pour l'en-tête */
header {
    background-color: #0d2387;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour les sections */
section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

